* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.chatbot-footer {
    padding: 15px 20px;
}

.close-button {
    background: none;
    border: none;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
}

.chatbot-container {
    width: 500px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.chat-header {
    background: #956afa;
    position: relative;
    margin: 0;
    padding: 10px 0px;
    color: antiquewhite;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.stats {
    width: fit-content;
    background: rgb(64, 234, 64);
    padding: 10px;
    border-radius: 10px;
}

.sticky-message {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f5f5f5;
}

.message {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.message-icon {
    width: 40px; /* Increase width to accommodate circle */
    height: 40px; /* Increase height to accommodate circle */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Make it circular */
    font-size: 18px;
}

/* Specific styles for bot and human icons */
.message-icon.bot {
    background-color: rgba(0, 0, 0, 0.1); /* Light background for bot */
    color: #000000; /* Black color for bot icon */
    margin-right: 10px;
}

.message-icon.human {
    background-color: rgba(149, 106, 250, 0.1); /* Light background for human */
    color: #000000; /* Black color for human icon */
    margin-left: 10px;
}

.message-text {
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    max-width: 70%;
    word-wrap: break-word;
}

/* Align bot messages to the left */
.message.bot {
    flex-direction: row; /* Align icon and text normally */
}

.message.bot .message-text {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    border-bottom-left-radius: 0;
}

/* Align human messages to the right */
.message.human {
    flex-direction: row-reverse; /* Reverse the order for right alignment */
}

.message.human .message-text {
    background-color: #956afa;
    color: #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    align-self: flex-end;
}
