* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.App {
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.chatbot-footer {
    padding: 15px 20px;
    position: relative;
    padding-bottom: 20px;
}

.time-info{
    position: absolute;
    bottom: 0%;
    left: 15%;
}

.time-info > span {
    font-size: 14px;
}

.chatbot-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.close-button {
    background: none;
    border: none;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
}

.chatbot-container {
    width: 500px;
    /* Default width for desktops */
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.chat-header {
    background: #956afa;
    position: relative;
    margin: 0;
    padding: 10px 0px;
    color: antiquewhite;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.stats {
    width: fit-content;
    background: rgb(64, 234, 64);
    padding: 10px;
    border-radius: 10px;
}

.sticky-message {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f5f5f5;
}

.message {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.message-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
}

.message-icon.bot {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
    margin-right: 10px;
}

.message-icon.human {
    background-color: rgba(149, 106, 250, 0.1);
    color: #000000;
    margin-left: 10px;
}

.message-text {
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    max-width: 70%;
    word-wrap: break-word;
}

.message.bot {
    flex-direction: row;
}

.message.bot .message-text {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    border-bottom-left-radius: 0;
}

.message.human {
    flex-direction: row-reverse;
}

.message.human .message-text {
    background-color: #956afa;
    color: #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    align-self: flex-end;
}

.audio-player-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.play-pause-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


/* Media query for tablets */
@media (max-width: 768px) {
    .chatbot-container {
        width: 80%;
        /* Adjust width for tablets */
        height: 70%;
        /* Adjust height for tablets */
    }

    .message-text {
        max-width: 80%;
        /* Increase message width on smaller screens */
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .chatbot-container {
        width: 100%;
        /* Adjust width for mobile devices */
        height: 80%;
        /* Adjust height for mobile devices */
    }

    .message-text {
        max-width: 85%;
        /* Further increase message width on smaller screens */
    }

    .close-button {
        font-size: 20px;
        /* Adjust size of the close button */
    }

    .chat-header {
        font-size: 18px;
        /* Adjust font size of header for better readability */
    }
}